.banner{
    max-width:768px;
    height:auto;
}

.section_one img{
    
    width:18px;
    height:23.5px;

    margin-left:30px;
    margin-top:20px;

}

.span_sec2 img{
    width:18.19px;
    height:14.77px;

}

.span_sec1{
    font-size:28px;
    margin-right:420px;

    margin-left:20px;
}

.span_sec2{
    font-size:23px;
}

/*-----------------------------------------*/

.section_two{
    width:768px;

    border:rgba(52, 95, 180, 0.897) solid 20px;

    border-radius:30px;

    margin-bottom:30px;
}

.sec1{ 
    height:150px;
    width:691px;

    border:rgba(52, 95, 180, 0.897) solid 2px;
}

.div1 p{
    padding:60.5px 100.5px 60.5px 60.5px;

    margin-left: 20px;
}

.p1{
    font-size:35px;
}

.p2{
    font-size:28px;
}

.div3 img{
    width:85px;
    height:85px;

    margin-left: 140px;
}

/*-----------------------------------------*/

.sec2{
    height:120px;
    margin:auto;
    margin-left:16px;

    margin-top:30px;
}

.formulario_label{
    font-size:25px;
}

.formulario_label input{
    width:320px;
    font-size: 23px;
}

.formulario_label span{
    position:absolute;
    margin:35px 0px 0px 300px;

    background-color: white;
}

/*--------------------------------------*/

.formulario_label2{
    font-size:20px;

    margin-top: 50px;
}

.formulario_label2 input{
    width:661px;
    font-size: 25px;
}

.formulario_label2 span{
    position:absolute;
  
    margin:35px 0px 0px 61px;
    background-color: white;
}


