

.banner{
    max-width:1400px;
    height:auto;

}

.span_sec1{
    font-size:22px;
    margin-right:261px;
}

.span_sec2{
    font-size:19px;
}

/*-----------------------------------------*/

.section_two{
    width:1020px;

    height:650px;

    display:flex;
    flex-direction:row;

    margin-right:0px;
}

.sec1{ 
    margin-top:15px;
    height:140px;
    width:431px;

    margin-left:16px;

    position:relative;

 
}

.div1 p{
    padding:57.5px;
}

.p1{
    font-size:23px;
}

.p2{
    font-size:18px;
}

.div3 img{
    width:30px;
    height:30px;

    margin:10px 0px 0px 70px;
}

/*-----------------------------------------*/

.sec2{
    height:120px;
    margin:auto;
    margin-left:16px;

    margin-top:30px;

    margin: 200px 0px 0px 0px;

    position:absolute;
}

.formulario_label{
    font-size:18px;
}

.formulario_label input{
    width:200px;
    font-size: 18px;
}

.formulario_label span{
    position:absolute;
    margin:35px 0px 0px 180px;

}

/*--------------------------------------*/
.sec3{

    margin-bottom:50px;
    padding-top:0px;
   align-items:inherit;
    position:relative;

}

.sec3 div{

    margin:0px 0px 0px 0px
}



.formulario_label2{
    font-size:18px;
    margin-top: 10px;
}

.formulario_label2 input{
    width:426px;
    font-size: 18px;
}

.formulario_label2 span{
    position:absolute;
    margin:35px 0px 0px 416px;
   
}
